# This workflow will build, test and deploy a NodeJS project

name: NodeJS CI, CD

on: [push]

env:
  REGISTRY: openhackufq2qk03acr.azurecr.io
  IMAGE_NAME: devopsoh/api-userprofile
  APP_NAME: openhackufq2qk03userprofile
  PROJECT_PATH: apis/userprofile
  WORK_DIR: apis/userprofile
  RESOURCE_GROUP: openhackufq2qk03rg
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: "Login via Azure CLI"
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Check if production is healthy
        id: health-check
        uses: mydea/action-wait-for-api@v1
        continue-on-error: true
        with:
          url: "https://${{ env.APP_NAME }}.azurewebsites.net/api/healthcheck/user"
          expected-response-field: "status"
          expected-response-field-value: "healthy"
          interval: 10
          timeout: 20
      - name: Rollback on fail
        if: steps.health-check.outcome == 'failure'
        run: az webapp deployment slot swap --name $APP_NAME --resource-group $RESOURCE_GROUP --slot staging --target-slot production  
